
body {
   background-image: linear-gradient(
    to right, /* or 'to bottom' for horizontal stripes, or an angle like 45deg */
    #f1ede9 0%, /* Red starts at 0% */
    #e4eedb 25%, /* Red ends at 25% */
    #dcf0d7 35%, /* Blue starts at 25% */
    #daebe8 50%, /* Blue ends at 50% */
    #c2dedf 60%, /* Green starts at 50% */
    #e0cbde 75%, /* Green ends at 75% */
    #dbccd6 85%, /* Yellow starts at 75% */
    #f8e6ea 100% /* Yellow ends at 100% */
  );
cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='48' height='58' viewport='0 0 100 100' style='fill:black;font-size:29px;'><text y='50%'>🔥</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

.started {
  background-color: rgb(108, 99, 112);
  color: rgb(255, 246, 246);
}

.ended {
  background-color: rgb(93, 100, 110);
  color: rgb(235, 235, 247);
}

html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border-radius: 10px;
  border: 10px solid rgb(159, 153, 160);
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 60px;
  border-radius: 30px;
}

.pic{
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
  border: 10px solid rgb(159, 153, 160);
}


h2{
  color: rgb(83, 78, 78);
  font-family: "Playfair Display", serif;
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}